mixin sSlider()
	+b.sSlider.section#sSlider&attributes(attributes)
		.container
			+b.section-title
				h2 проекты
			+e.slider--proj-js.swiper
				.swiper-wrapper
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/project-sl-${x}.png` data-fancybox="project-sl")
								+img(`img/project-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/project-sl-${x}.png` data-fancybox="project-sl")
								+img(`img/project-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/project-sl-${x}.png` data-fancybox="project-sl")
								+img(`img/project-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/project-sl-${x}.png` data-fancybox="project-sl")
								+img(`img/project-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
				.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
				.swiper-button-prev
					+icon('sw-left')
				.swiper-button-next
					+icon('sw-right')

mixin sSlider2()
	+b.sSlider.section#sSlider&attributes(attributes)
		.container
			+b.section-title
				h2 проекты
			+e.slider--proj-js.swiper
				.swiper-wrapper
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/oat-sl-${x}.png` data-fancybox="oat-sl")
								+img(`img/oat-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/oat-sl-${x}.png` data-fancybox="oat-sl")
								+img(`img/oat-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/oat-sl-${x}.png` data-fancybox="oat-sl")
								+img(`img/oat-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/oat-sl-${x}.png` data-fancybox="oat-sl")
								+img(`img/oat-sl-${x}.png`, 'bg')
								.swiper-lazy-preloader
				.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
				.swiper-button-prev
					+icon('sw-left')
				.swiper-button-next
					+icon('sw-right')

mixin sSlider3()
	+b.sSlider.section#sSlider&attributes(attributes)
		.container.mb-4
			+b.section-title
				h2 проекты
			+e.slider--proj-js.swiper
				.swiper-wrapper
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/massive-${x}-lg.png` data-fancybox="massive-sl"
							data-caption="Трёхслойная инженерная доска Дуб, сорт Натур, 16х155 мм")
								+img(`img/massive-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/massive-${x}-lg.png` data-fancybox="massive-sl"
							data-caption="Трёхслойная инженерная доска Дуб, сорт Натур, 16х155 мм")
								+img(`img/massive-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(
							href=`img/massive-${x}-lg.png` data-fancybox="massive-sl"
							data-caption="Трёхслойная инженерная доска Дуб, сорт Натур, 16х155 мм")
								+img(`img/massive-${x}.png`, 'bg')
								.swiper-lazy-preloader
					- for (var x = 1; x < 4; x++)
						+e.slide.swiper-slide
							+e.item(href=`img/massive-${x}-lg.png` data-fancybox="massive-sl" data-caption="Трёхслойная инженерная доска Дуб, сорт Натур, 16х155 мм")
								+img(`img/massive-${x}.png`, 'bg')
								.swiper-lazy-preloader
				.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
				.swiper-button-prev
					+icon('sw-left')
				.swiper-button-next
					+icon('sw-right')

mixin paletteItem(img, title)
	+e.slide.swiper-slide
		+b.palette-item(href='#')
			+img(`img/palette-1-0${img}.png`, 'bg')
			+e.title!= title

mixin sSlidersPalette()
	+b.sSlider--palette.section#sSlidersPalette&attributes(attributes)
		.container
			+b.section-title
				h2 цветовая палитра
			+e.slider-wrapper.slider-wrapper
				h3 natural collection
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('1', 'N1')
						+paletteItem('2', 'N2')
						+paletteItem('3', 'N3')
						+paletteItem('4', 'N4')
						+paletteItem('5', 'N5')
						+paletteItem('6', 'N6')
						+paletteItem('1', 'N1')
						+paletteItem('2', 'N2')
						+paletteItem('3', 'N3')
						+paletteItem('4', 'N4')
						+paletteItem('5', 'N5')
						+paletteItem('6', 'N6')
						+paletteItem('1', 'N1')
						+paletteItem('2', 'N2')
						+paletteItem('3', 'N3')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')
			+e.slider-wrapper.slider-wrapper
				h3 White collection
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('1-1', 'W1')
						+paletteItem('1-2', 'W2')
						+paletteItem('1-3', 'W3')
						+paletteItem('1-4', 'W4')
						+paletteItem('1-5', 'W5')
						+paletteItem('1-6', 'W6')
						+paletteItem('1-1', 'W1')
						+paletteItem('1-2', 'W2')
						+paletteItem('1-3', 'W3')
						+paletteItem('1-4', 'W4')
						+paletteItem('1-5', 'W5')
						+paletteItem('1-6', 'W6')
						+paletteItem('1-1', 'W1')
						+paletteItem('1-2', 'W2')
						+paletteItem('1-3', 'W3')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')
			+e.slider-wrapper.slider-wrapper
				h3 laconique collection
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('2-1', 'L1')
						+paletteItem('2-2', 'L2')
						+paletteItem('2-3', 'L3')
						+paletteItem('2-4', 'L4')
						+paletteItem('2-5', 'L5')
						+paletteItem('2-6', 'L6')
						+paletteItem('2-1', 'L1')
						+paletteItem('2-2', 'L2')
						+paletteItem('2-3', 'L3')
						+paletteItem('2-4', 'L4')
						+paletteItem('2-5', 'L5')
						+paletteItem('2-6', 'L6')
						+paletteItem('2-1', 'L1')
						+paletteItem('2-2', 'L2')
						+paletteItem('2-3', 'L3')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')
			+e.slider-wrapper.slider-wrapper
				h3 grey collection
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('3-1', 'G1')
						+paletteItem('3-2', 'G2')
						+paletteItem('3-3', 'G3')
						+paletteItem('3-4', 'G4')
						+paletteItem('3-5', 'G5')
						+paletteItem('3-6', 'G6')
						+paletteItem('3-1', 'G1')
						+paletteItem('3-2', 'G2')
						+paletteItem('3-3', 'G3')
						+paletteItem('3-4', 'G4')
						+paletteItem('3-5', 'G5')
						+paletteItem('3-6', 'G6')
						+paletteItem('3-1', 'G1')
						+paletteItem('3-2', 'G2')
						+paletteItem('3-3', 'G3')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')
			+e.slider-wrapper.slider-wrapper
				h3 brown collection
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('4-1', 'B1')
						+paletteItem('4-2', 'B2')
						+paletteItem('4-3', 'B3')
						+paletteItem('4-4', 'B4')
						+paletteItem('4-5', 'B5')
						+paletteItem('4-6', 'B6')
						+paletteItem('4-1', 'B1')
						+paletteItem('4-2', 'B2')
						+paletteItem('4-3', 'B3')
						+paletteItem('4-4', 'B4')
						+paletteItem('4-5', 'B5')
						+paletteItem('4-6', 'B6')
						+paletteItem('4-1', 'B1')
						+paletteItem('4-2', 'B2')
						+paletteItem('4-3', 'B3')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')


mixin sSlidersPalette2()
	+b.sSlider--palette.sSlider--palette2.section#sSlidersPalette&attributes(attributes)
		.container
			+b.section-title
				h2 цветовая палитра
			+e.slider-wrapper.slider-wrapper
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('5-1', 'T1')
						+paletteItem('5-2', 'T2')
						+paletteItem('5-3', 'T3')
						+paletteItem('5-4', 'T4')
						+paletteItem('5-5', 'T5')
						+paletteItem('5-6', 'T6')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')

mixin sSlidersPalette3()
	+b.sSlider--palette.sSlider--palette2.sSlider-3.section#sSlidersPalette&attributes(attributes)
		.container 
			+b.section-title
				h2 цветовая палитра
			+e.slider-wrapper.slider-wrapper
				+e.slider--proj-js.swiper
					.swiper-wrapper
						+paletteItem('6-1', 'SP1')
						+paletteItem('6-2', 'SP2')
						+paletteItem('6-3', 'SP3')
						+paletteItem('6-4', 'SP4')
						+paletteItem('6-5', 'SP5')
						+paletteItem('6-6', 'SP6')
					.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal
					.swiper-button-prev
						+icon('sw-left')
					.swiper-button-next
						+icon('sw-right')