mixin sProdCard(data)
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.col.col-md-6.col-xl-4.order-lg-last
					+e.slider-wrap
						+e.slider--js.swiper
							.swiper-wrapper
								-for(let i = 1; i <= 3; i++)
									+e.slide.swiper-slide
										+e.img-wrap(href=`img/sProdCard-img-${i}.jpg` data-fancybox="sProdCard")
											.img-wrap-center
												+img(`img/sProdCard-img-${i}.jpg`, 'bg')
												.swiper-lazy-preloader
						+e.thumb-wrapper
							+e.thumb-slider--js.swiper
								.swiper-wrapper
									-for(let i = 1; i <= 3; i++)
										+e.thumb-slide.swiper-slide 
											+e.img-wrap
												.img-wrap-center
													+img(`img/sProdCard-img-${i}.jpg`, 'bg')
													.swiper-lazy-preloader
							.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
								+icon('arrow-left')
							.swiper-button-hand.swiper-button-hand-next.swiper-button-next
								+icon('arrow-right')
				.col-md-6.col-xl
					+form-wrap 
						.table-wrap
							table 
								tbody
									mixin tr(p, v, sm)
										tr
											td!= p
											if v
												td!= v
													if sm 
														small= sm
													block
											else
												block
											

									+tr(`Порода древесины: `)
										td
											.form-wrap__input-wrap.form-group
												select.form-wrap__input.form-select(name='select')
													option(value='') Термоясень 
													option(value='') Термоясень 
													option(value='') Термоясень 
													
									+tr(`Профиль:`)
										td
											.form-wrap__input-wrap.form-group
												select.form-wrap__input.form-select(name='select')
													option(value='') Прямой планкен 
													option(value='') Прямой планкен 
													option(value='') Прямой планкен 

									+tr(`Толщина:`, `20 мм`)
									+tr(`Ширина:`, ``)
										td
											.form-wrap__input-wrap.form-group
												select.form-wrap__input.form-select(name='select')
													option(value='115 мм') 115 мм
													option(value='120 мм') 120 мм
													option(value='130 мм') 130 мм
									+tr(`Длина:`, ` 900-3000 мм `,'(разнодлинка, шаг, 100, мм, доска, длиннее, 2, м, -, не, менее, 50%, от, партии)')
									+tr(`Тон:  `, ` Тёмно-коричневый `)
									+tr(`Покрытие: `, `Без покрытия  `)
									+tr(`Область применения: `, `Фасады домов, подшивка крыши, заборы `)
									+tr(`Количество: `, `Цена за м² `)
										//- +e.BUTTON.btn.btn.btn-primary(type="submit") отправить запрос
						+e.btn-row.row
							.col-auto
								+addblock()
							.col-auto
								+e.btn--price  5 800 руб.
								+e.BUTTON.btn.btn.btn-primary(type="submit") отправить запрос
			+e.dropdown.section
				.row
					mixin item(t)
						.col-lg-6
							+e.dropdown-item
								+e.head.dd-head-js
									+icon("chevron-down")
									= t
								+e.body
									p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus tempora atque, veniam maiores doloremque, suscipit ipsam dolores vero repellendus magni harum expedita, dicta accusantium. Tempore nihil quisquam dolorem, aliquid suscipit delectus aperiam animi alias debitis nobis est error, corporis laudantium.
					+item('Срок поставки')
					+item('Оплата')
					+item('Доставка')
					+item('Гарантия')
	// end sProdCard